[Desktop Entry]
Type=Application
Name=MailAdler
Comment=Plattformübergreifender E-Mail-Client
Exec=mailadler
Icon=org.mailadler.MailAdler
Categories=Network;Email;
Terminal=false
