[Desktop Entry]
Type=Application
Name=AdlerMail
Comment=Plattformübergreifender E-Mail-Client
Exec=adlermail
Icon=org.adlermail.AdlerMail
Categories=Network;Email;
Terminal=false
